.footer__container {
  padding: 40px 60px 20px;
}

.footer__container--layout {
  display: flex;
  flex-direction: column;
}

.footer__container__main-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 57px;
  margin-bottom: 28px;
}

.footer__container__main-block__logo {
  max-width: 155px;
  height: 57px;
}

.footer__container__main-block__logo--img {
  width: 100%;
  height: 100%;
}

.footer__container__main-block__links--layout {
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer__container__main-block__links {
  display: flex;
  margin: 0 126px;
  gap: 40px;
}

.footer__container__main-block__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  color: #ffffff;
  text-decoration: none;
  text-wrap: nowrap;
}

.footer__container__main-block__links.terms {
  display: none;
}

.footer__container__main-block__btn {
  margin-right: 40px;
}

.footer__container__main-block__download-app-buttons {
  display: flex;
  align-self: flex-end;
  gap: 20px;
}

#buttonAppStore {
  width: 194px;
  height: 57px;
}

#buttonGooglePlay {
  width: 196px;
  height: 57px;
}

.footer__container__block-separator {
  display: flex;
  max-width: 1320px;
  height: 2px;
  margin-bottom: 21px;
  background-color: #444;
}

.footer__container__lower-block {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
  color: #b9b9b9;
  text-wrap: nowrap;
}

.footer__container__lower-block__links {
  display: flex;
  gap: 20.5px;
}

.footer__container__lower-block__link {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 375px) {
  .footer__container {
    padding: 20px 16px;
  }

  .footer__container__main-block {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    height: 537px;
    margin-bottom: 40px;
  }

  .footer__container__main-block__logo {
    max-width: 124px;
    height: 39px;
    margin-bottom: 40px;
  }

  .footer__container__main-block__links--layout {
    display: inline;
    text-align: start;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .footer__container__main-block__links {
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    gap: 16px;
  }

  .footer__container__main-block__link {
    line-height: 1.25;
  }

  .footer__container__main-block__links.super-nav {
    margin-bottom: 16px;
  }

  .footer__container__main-block__links.terms {
    display: flex;
    gap: 16px;
  }

  .footer__container__main-block__btn {
    margin: 0 0 40px 0;
  }

  .footer__container__main-block__download-app-buttons {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
  }

  .footer__container__block-separator {
    max-width: 343px;
    margin-bottom: 10px;
  }

  .footer__container__lower-block {
    display: flex;
    justify-content: flex-start;
    line-height: 150%;
  }

  .footer__container__lower-block__links {
    display: flex;
    gap: 20.5px;
  }

  .footer__container__lower-block__link {
    display: none;
  }
}
