.hero__container {
  display: flex;
  justify-content: space-between;
  height: 591px;
  margin-bottom: 100px;
  padding: 82px 0 0 110px;
}

.hero__container__title--layout {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 671px;
}

.hero__container__title__tagline {
  margin-bottom: 20px;
}

.hero__container__title__text {
  max-width: 534px;
  margin-bottom: 40px;
}

.hero__container__pic {
  position: relative;
  bottom: 20px;
  width: 595px;
  height: 529px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: image-set(
    url(/assets/hero/hero-picture-desktop@1x.png) 1x,
    url(/assets/hero/hero-picture-desktop@2x.png) 2x,
    url(/assets/hero/hero-picture-desktop@1x.webp) type('image/webp') 1x,
    url(/assets/hero/hero-picture-desktop@2x.webp) type('image/webp') 2x
  );
}

@media (max-width: 1200px) {
  .hero__container {
    padding: 52px 0 0 40px;
  }

  .hero__container h1 {
    font-size: 60px;
  }

  .hero__container h2 {
    font-size: 40px;
  }

  .hero__container h3 {
    font-size: 32px;
  }
}

@media (max-width: 830px) {
  .hero__container {
    flex-direction: column;
    height: 600px;
    margin-bottom: 50px;
    gap: 30px;
  }

  .hero__container h1 {
    font-size: 60px;
  }

  .hero__container h2 {
    font-size: 40px;
  }

  .hero__container h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 106%;
  }

  .hero__container__pic {
    position: absolute;
    top: 450px;
    align-self: flex-end;
    width: 250px;
    height: 250px;
    background-image: image-set(
      url(/assets/hero/hero-picture-mobile@1x.png) 1x,
      url(/assets/hero/hero-picture-mobile@2x.png) 2x,
      url(/assets/hero/hero-picture-mobile@1x.webp) type('image/webp') 1x,
      url(/assets/hero/hero-picture-mobile@2x.webp) type('image/webp') 2x
    );
  }
}

@media (max-width: 470px) {
  .hero__container h1 {
    font-size: 40px;
  }

  .hero__container h2 {
    font-size: 40px;
  }

  .hero__container h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 106%;
  }

  .hero__container {
    flex-direction: column;
    height: 708px;
    margin-bottom: 40px;
    padding: 51px 0 0 16px;
    gap: 0;
  }

  .hero__container__title--layout {
    position: relative;
    max-width: 343px;
  }

  .hero__container__title__tagline {
    margin-bottom: 19px;
  }

  .hero__container__title__text {
    align-self: stretch;
    width: 100%;
    font-size: 16px;
    line-height: 1.25;
  }

  .hero__container__pic {
    top: 545px;
    width: 325px;
    height: 271px;
  }

  .hero__container__btn {
    width: 100%;
    margin-bottom: 137px;
  }
}
